body{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #AAB7B8;
}

.header {
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
}

.search-bar{
    display:flex;
    justify-content: flex-start;
    padding:20px;
    background-color: #2E4053;
}

.card-and-card-statistics-flex{
    padding: 200px;
    display: flex;
    flex-direction: row;
    border: 3px solid;
    justify-content: space-between;
    background-color: slategray;
}

.card-face{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: #1C2833; 
    border: 30px solid black;
    justify-self: center;

}

.card-statistics{
    border: 30px solid black;
    justify-self: center;
}

.additional-information{
    display: flex;
    justify-content: center;
    background-color: pink;
}

.card-stats{
    padding-bottom: 50px;
}

